#navbar {
  background-color: rgb(184, 234, 184);   
}

body {
    background-color: antiquewhite;
}

table {
    background-color: aliceblue;
}

.project {
    background-color: rgb(234, 240, 181);
}